@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:wght@600;700&display=swap');
body{
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    box-sizing: border-box;
}
#banner{
    width: 100%;
    height: 100vh;
    background-image: url(Section-5 (2).jpg);
    background-repeat: no-repeat;
    position: relative;
}
section{
    margin-top: 100px;
}
.image-text{
height: 73vh!important;
}
.top{
    color:#ffb15c;
}
.bg-opacity{
    background: #0b1625;
    opacity: 0.8;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 45%!important;
    max-width: 50%;
    left: 1.5%;
}
.total-data{
    top: 50%;
}
h2 {
    position: absolute;
    top: 32%;
    font-weight: 900;
    font-size: 42px;
    padding: 25px;
}
.para-text{
    position: absolute;
    top: 46%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:25px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 100%!important;
        max-width: 100%;
        left: 0%;
    }
    h2{
        font-size: 30px;
        padding: 0;
    }
    .para-text{
        font-size: 16px;
        padding: 0px;
        top: 46%t;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 100vh!important;
        }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%!important;
        max-width: 50%;
        left: 0%;
    }
    h2{
        font-size: 30px;
        padding: 20px!important;
    }
    .para-text{
        font-size: 16px;
        padding: 20px!important;
        top: 49%;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 100vh;
        }
}
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 60%!important;
        max-width: 100%;
        left: 0%;
    }
    h2{
        font-size: 35px;
        padding: 0;
    }
    .para-text{
        font-size: 18px;
        padding: 0px;
        top: 47%;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 100vh!important;
        }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 75%!important;
        max-width: 75%;
        left: 0%;
    }
    h2{
        font-size: 40px;
        padding: 30px;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
        top: 49%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 100vh!important;
        }
}
@media only screen and (min-width: 1200px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%!important;
        max-width: 50%;
        left: 0%;
    }
    h2{
        font-size: 40px;
        padding: 30px;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
        top: 52%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 97vh;
        }
}  
@media only screen and (min-width: 1440px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%!important;
        max-width: 50%;
        left: 0%;
    }
    h2{
        font-size: 40px;
        padding: 30px;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 89.5vh;
        }
}   
@media only screen and (min-width: 1600px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 45%!important;
        max-width: 50%;
        left: 2%;
    }
    h2{
        font-size: 40px;
        padding: 30;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
        top: 49%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 82.5vh;
        }
} 
