@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:wght@600;700&display=swap');
body{
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    box-sizing: border-box;
}
#banner{
    width: 100%;
    height: 100vh;
    background-image: url(image-2.jpg);
    background-repeat: no-repeat;
    position: relative;
}
section{
    margin-top: 100px;
}
.image-text{
height: 71.3vh!important;
}
.top{
    color:#ffb15c;
}
.bg-opacity{
    background: #0b1625;
    opacity: 0.8;
}
.total-data{
    top: 50%;
}
h2 {
    position: absolute;
    top: 32%;
    font-weight: 900;
    font-size: 35px;
    padding: 25px;
}
.para-text{
    position: absolute;
    top: 44%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:25px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    h2{
        font-size: 30px;
        padding: 0;
    }
    .para-text{
        font-size: 16px;
        padding: 0px;
        top: 50%;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 70vh!important;
        }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h2{
        font-size: 30px;
        padding: 20px!important;
    }
    .para-text{
        font-size: 16px;
        padding: 20px!important;
        top: 49%;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 100vh;
        }
}
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    h2{
        font-size: 35px;
        padding: 0;
    }
    .para-text{
        font-size: 18px;
        padding: 0px;
        top: 52%;
    }
    section{
        margin-top: 0px;
    }
    .image-text{
        height: 69vh!important;
        }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    h2{
        font-size: 24px;
        padding: 30px;
    }
    .para-text{
        font-size: 13px;
        padding: 30px;
        top: 48%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 69vh!important;
        }
}
@media only screen and (min-width: 1200px) {
    h2{
        font-size: 40px;
        padding: 30px;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
        top: 52%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 71.5vh!important;
        }
}  
@media only screen and (min-width: 1420px) {
    h2{
        font-size: 30px;
        padding: 30px;
    }
    .bg-opacity{
        margin-left: 156px;
    }
    #banner{
        background-size: 100%;
    }
    .para-text{
        font-size: 16px;
        padding: 30px;
        top: 48%;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 89.5vh;
        }
}   
@media only screen and (min-width: 1600px) {
    h2{
        font-size: 35px;
        padding: 30;
    }
    .para-text{
        font-size: 20px;
        padding: 30px;
        top: 44%!important;
    }
    section{
        margin-top: 100px;
    }
    .image-text{
        height: 82.5vh;
        }
} 
